<section id = "navbar">
        <img id="favicon" src="/public/images/favicon.png" >
        <section id = "dashboard">
            <i class="fa-solid fa-house-user fa-3x"></i>
            <div id = "dashboard_w"> Dashboard</div>
        </section>
        <section id = "comment">
            <i class="fa-solid fa-message fa-3x"></i>
            <div id = "comment_w"> comment</div>
        </section>
        <section id = "new_patient">
            <i class="fa-solid fa-address-book fa-3x"></i>
            <div id = "new_patient_w"> Add New Patient</div>
        </section>
         <section id = "go_back">
            <i class="fa-solid fa-arrow-right-from-bracket fa-3x"></i>
            <div id = "go_back_w"> Sign Out</div>
        </section>
    </section>
