<link rel="stylesheet" type="text/css" href="/css/clinician-navbar.css">
<section id = "navbar">
        <img id="favicon" src="/images/favicon.png" >
        <a href="/clinician/dashboard">
        <section id = "dashboard">
            <i class="fa-solid fa-house-user fa-3x"></i>
            <div id = "dashboard_w"> Dashboard</div>
        </section>
        </a>
        <a href="/clinician/comment">
        <section id = "comment">
            <i class="fa-solid fa-message fa-3x"></i>
            <div id = "comment_w"> comment</div>
        </section>
        </a>
        <a href="/clinician/add-patient">
        <section id = "new_patient">
            <i class="fa-solid fa-address-book fa-3x"></i>
            <div id = "new_patient_w"> Add New Patient</div>
        </section>
        </a>
        <a href="/about-us">
        <section id = "about-us">
            <i class="fa-solid fa-circle-info fa-3x"></i>
            <div id = "new_patient_w"> About Us</div>
        </section>
        </a>
        <a href="/about-diabetes">
        <section id = "about-diabetes">
            <i class="fa-solid fa-circle-info fa-3x"></i>
            <div id = "new_patient_w"> About Diabetes</div>
        </section>
        </a>
        <form method="POST" action="/logout">
         <section id = "go_back">
            <i class="fa-solid fa-arrow-right-from-bracket fa-3x"></i>
            <div id = "go_back_w" href="/login"> Sign Out</div>
        </section>
        </form>
    </section>
