<div class = topmenu>
        <img class="p1" src="/public/images/favicon.png">
        <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <i class="fa-solid fa-house-user fa-3x" style="color:#D6D8DA;"></i>

        <a href = patient-dashboard.html class="home">
            Home
        </a>

        <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <i class="fa-solid fa-circle-user fa-3x" style="color: #D6D8DA;"></i>

        <h2 class="userinfo">
            User info
        </h2>

    </div>

    <a class="signout" href="login_home_page.html">
        Sign out
    </a>
    <i class="fa-solid fa-right-from-bracket fa-3x" id="p4" style="color: #D6D8DA;top: 8px; right: 125px;position: fixed;"></i>
