<section class = "navbar">
        <img id="favicon" src="/public/images/favicon.png" >
        <section id = "dashboard">
            <i class="fa-solid fa-house-user fa-3x"></i>
            <div id = "dashboard_w"> Home</div>
        </section>
        <section id = "comment">
            <i class="fa-solid fa-person fa-3x"></i>
            <div id = "comment_w"> Personal</div>
        </section>
         <section id = "go_back">
            <i class="fa-solid fa-arrow-right-from-bracket fa-3x"></i>
            <a id = "go_back_w" href="login_home_page.html"> Sign Out</a>
        </section>
    </section>