<section class = topmenu>
        <img class="p1" src="/images/favicon.png">
        <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>

        
        <a href = "/patient/dashboard">
        <div class="home">
            <i class="fa-solid fa-house-user fa-3x"></i>
            <h1 id="home-w">Home</h1>
        </div>
        </a>


        <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>

        <a href ="/patient/profile">
        <div class="userinfo">
             <i class="fa-solid fa-circle-user fa-3x"></i>
             <h1 id="user-w">User info</h1>
        </div>
        </a>
       
        <a href="/about-us">
        <div class="about-us">
            <i class="fa-solid fa-circle-exclamation fa-3x"></i>
            <h1 id="us-w">About us</h1>
        </div>
        </a>
        
        <a href="/about-diabetes">
        <div class="about-diab">
            <i class="fa-solid fa-circle-exclamation fa-3x"></i>
            <h1 id="diab-w">About Diabetes</h1>
        </div>
        </a>
        

        <form method="POST" action="/logout">
        <a href="/login">
        <div class="sign-out">
            <i class="fa-solid fa-right-from-bracket fa-3x"></i>
            <h1 class="sign-out-w">Sign Out</h1>
        </div>
        </a>
        </form>
</section>

