<link rel="stylesheet" type="text/css" href="/css/patient-navbar.css">
<section id = "navbar">
        <img id="favicon" src="/images/favicon.png" >

        <a href="/patient/dashboard">
        <section id = "dashboard">
            <i class="fa-solid fa-house-user fa-3x"></i>
            <div id = "dashboard_w"> Home</div>
        </section>
        </a>

        <a href="/patient/profile">
        <section id = "comment">
            <i class="fa-solid fa-message fa-3x"></i>
            <div id = "comment_w"> User Info</div>
        </section>
        </a>

        <a href="/about-us">
        <section id = "about-us">
            <i class="fa-solid fa-circle-info fa-3x"></i>
            <div id = "new_patient_w"> About Us</div>
        </section>
        </a>

        <a href="/about-diabetes">
        <section id = "about-diabetes">
            <i class="fa-solid fa-circle-info fa-3x"></i>
            <div id = "new_patient_w"> About Diabetes</div>
        </section>
        </a>

        <form method="POST" action="/logout">
        <a href="/login">
         <section id = "go_back">
            <i class="fa-solid fa-arrow-right-from-bracket fa-3x"></i>
            <div id = "go_back_w" href="/login"> Sign Out</div>
        </section>
        </a>
        </form>
</section>