<link rel="stylesheet" type="text/css" href="/css/about.css">
<section class="sub">
  	<img id="favicon" src="/images/favicon.png"/>
  	<hr>
  	<section id="side">
		<ul>
			<li><a href=" ">Introduction</a ></li>
			<li><a href="#symptoms">Symptoms</a ></li>
			<li><a href="#diabetes-types">Types of Diabetes</a ></li>
			<li><a href="#living-diabetes">Living With Diabetes</a ></li>
			<li><a href="#useful-websites">Useful Website for Diabetes</a ></li>
			<li><a href="#more-information">More Information About Diabetes</a ></li>
		</ul>
		<div id="signin-button">
			<button><img class="img-center" src="/images/signin-icon.png"/></button>
			<p><a href="/login">SIGN IN</a></p>
		</div>
	</section>
	<hr>
</section>
<section class="main">
	<h3 id="introduction">lntroduction</h3>
	<ul>
		<p>Diabetes, or diabetes mellitus in full, is a metabolic disorder characterised by an imbalance between levels of insulin, secreted by the pancreas, and blood sugars.</p>
	</ul>
	<hr>
	<h3 id="symptoms">Symptoms</h3>
	<ul>
		<p>Diabetes symptoms vary depending on how much your blood sugar is elevated.  In type 1 diabetes, symptoms tend to come on quickly and be more severe. Some people, especially those with prediabetes or type 2 diabetes, may sometimes not experience symptoms.</p>
		<p>Some of the signs and symptoms of type 1 diabetes and type 2 diabetes are:</p>
		<li>Increased thirst</li>
		<li>Frequent urination</li>
		<li>Extreme hunger</li>
		<li>Unexplained weight lost</li>
	</ul>
	<hr>
	<h3 id="diabetes-types">Types of Diabetes</h3>
	<ul>
		<li>
			<p><b>Type 1:</b></p>
			<p>Type 1 diabetes usually develops in childhood or adolescence, but can also develop in adulthood. It occurs when the immune system mistakenly attacks and kills the beta cells of the pancreas, meaning no, or very little, insulin is released into the body. As a result, blood glucose builds up in the blood instead of being used as energy. Type 1 diabetes is always treated with insulin, but meal planning also helps with keeping blood glucose at the right levels. About 5-10% of people with diabetes have type 1.</p>
		</li>
		<li>
			<p><b>Type 2:</b></p>
			<p>Type 2 diabetes accounts for 85% of all diabetes. It is a progressive condition in which the body becomes resistant to the normal effects of insulin and/or gradually loses the capacity to produce enough insulin in the pancreas. It is one of the major consequences of the obesity epidemic around the world due to changes in diet and a less active lifestyle. It also has strong genetic and family related risk factors.</p>
		</li>
		<li>
			<p><b>Gestational (GDM):</b></p>
			<p>Gestational diabetes is a temporary condition that is diagnosed when higher than normal blood glucose levels first appear during pregnancy. It affects approximately 5-10% of all pregnancies. Once the pregnancy is over and blood glucose levels return to normal, the diabetes disappears. However, this insulin resistance increases the risk of developing type 2 diabetes in later life.</p>
		</li>
		<li>
			<p><b>Pre-diabetes:</b></p >
			<p>A condition in which blood glucose levels are higher than normal, although not high enough to be diagnosed as type 2 diabetes. Pre-diabetes has no signs or symptoms. Without sustained lifestyle changes, including healthy eating, increased activity and losing weight, approximately one in three people with pre-diabetes will go on to develop type 2 diabetes and have a higher risk of developing cardiovascular (heart and circulation) disease.</p>
		</li>
	</ul>
	<hr>
	<h3 id="living-diabetes">Living With Diabetes</h3>
	<ul>
		<li>
			<p><b>Elders</b></p>
			<p>Manage your diabetes independently. As you grow older physical changes may affect your ability to manage your diabetes independently. It is easy to assume that your symptoms are due to the ageing process or because you have diabetes, but it is important to seek advice for any new symptoms.</p>
			<p>Organise your diabetes health checks. It is important to do an annual cycle of care to identify any health concerns with your doctor and diabetes health care team. Regular checks help prevent complications.</p>
		</li>
		<li>
			<p><b>Young people</b></p>
			<p>Diabetes can occur at any age. Type 1 diabetes is more commonly diagnosed in younger people, but it can occur at any age. Type 2 diabetes, the more common form of diabetes, is increasingly occurring in younger age groups. Gestational diabetes is a form of diabetes that can occur in pregnancy.</p>
		</li>
	</ul>
	<hr>
	<h3 id="useful-website">Useful Websites for Diabetes</h3>
	<ul>
		<li><a href="https://www.bionicsinstitute.org/diabetes" target="_blank">Bionics Institute</a ></li>
		<li><a href="https://baker.edu.au/health-hub/fact-sheets/understanding-diabetes?gclid=CjwKCAjwrfCRBhAXEiwAnkmKmeoemuSsTProI463mIBB_p2-_SdulskZMfRk2kZOmkVbhraoRufaQBoC63MQAvD_BwE" target="_blank">Backer Heart & Diabetes Institute</a ></li>
	</ul>
	<hr>
	<h3 id="more-information">More Information About Diabetes</h3>
	<div id="video" style="text-align:center;">    
		<iframe src="//www.youtube.com/watch?v=X9ivR4y03DE" frameborder="0" allowfullscreen></iframe>
	</div>
</section>