<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="/css/clinician-comment.css">
<link rel="icon" href="//images/favicon.png">
<div>
    {{> clinician-navbar}}
        <section class ="patient-comment">
            <section id="user">
                <p id="name"><i class="fa-solid fa-comment" style="color:darkolivegreen;"></i>   Matt</p>
                <h6 id="time">23:11 11/04/2011</h6>
                <p id ="subject"><i class="fa-solid fa-star" style="color: darkolivegreen;"></i>Exercise: 10000 steps</p>
                <p id="sentence">i feel better now</p>
            </section>
        </section>
</div>