<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../public/images/favicon.png">
    <script src="https://kit.fontawesome.com/76a0594e6c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/clinician-addPatient.css">
</head>
<body>
    <section id = "navbar">
        <img id="favicon" src="/public//images/favicon.png" >
        <a href="/clinician/dashboard">
        <section id = "dashboard">
            <i class="fa-solid fa-house-user fa-3x"></i>
            <div id = "dashboard_w"> Dashboard</div>
        </section>
        </a>
        <section id = "comment">
            <i class="fa-solid fa-message fa-3x"></i>
            <div id = "comment_w"> comment</div>
        </section>
        <section id = "new_patient">
            <i class="fa-solid fa-address-book fa-3x"></i>
            <div id = "new_patient_w"> Add New Patient</div>
        </section>
        <form method="POST" action="/logout">
         <section id = "go_back">
            <i class="fa-solid fa-arrow-right-from-bracket fa-3x"></i>
            <a id = "go_back_w" href="/login"> Sign Out</a>
        </section>
        </form>
    </section>
    <form method="POST" action="/clinician/add-patient">
        <section class = "adding">
            <h1>Adding New Patient.....<h1>
                <label for="username"> User Name:</label>
                <input type="text" id="user-name"/>
                <label for="phone"> Phone Number</label>
                <input type="number" id="phone"/>
                <label for="firstname"> First Name:</label>
                <input type="text" id="first-name"/>
                <label for="yearBorn"> Date of Birth</label>
                <input type="Date" id="birth"/>
                <label for="gender">Gender:</label>
                <select name="gender">
                    <option value="no-genger">-</option>
                    <option value="male">male</option>
                    <option value="female">female</option>
                </select>
                <label for="lastname"> Last Name:</label>
                <input type="text" id="last-name"/>
                <label for="password"> Password:</label>
                <input type="text" id="password" placeholder="At Least 8 Characters"/>
                <label id = "email" for="email"> Email:</label>
                <input type="text" id="email-input"/>
                <label> Confirm Password</label>
                <input type="text" id="pass-confirm"/>
                <button type="submit" id="submit">Submit</button> 
            </select>
        </section>
    </form>
</body>
</html>