<link rel="stylesheet"  href="/css/login-home.css">
<script type="text/javascript" src="/js/login-home.js"></script>
	<section id ="desktop-login">
		<section class="sub">	
			<img id="favicon" src="/images/favicon.png" >
		</section >
		<section id="main">
		<h4 id  = "sign_in">Sign in as</h4>

		<section class="role">
			<a  id  = "role_p" href="/login-patient">Patient</a>
			<br></br>
			<a  id  = "role_s" href="/login-clinician">Staff</a>
			<a id = "about_unit_health" href="/about-us" > <i class="fa-solid fa-circle-info fa-1x" ></i> About Uni Health</a>
			<a  id = "about_diabetes" href="/about-diabetes" ><i class="fa-solid fa-circle-info fa-1x"></i> About Diabetes</a>
		</section>
		</section>
	</section>

