    <link rel="stylesheet" type="text/css" href="/public/css/login_homepage.css">
	<script type="text/javascript" src="/public/js/login_home_page.js"></script>
<body>
	<section id ="desktop-login">
		<section class="sub">	
			<img id="favicon" src="/public/images/favicon.png" >
		</section >
		<h4 id  = "sign_in">Sign in as</h4>

		<section class="role">
			<button type="button" id  = "role_p" onclick="switch_role('Patient')">Patient</button>
			<button type="button" id  = "role_s" onclick="switch_role('Staff')">Staff</button>
			<a id = "about_unit_health" href="/about-us" > <i class="fa-solid fa-circle-info fa-1x" ></i> About Unit Health</a>
			<a  id = "about_diabetes" href="/about-diabetes" ><i class="fa-solid fa-circle-info fa-1x"></i> About Diabetes</a>
		</section>
	</section>



	<section id ="mobile-login">
		<section class="sub">	
			<img id="favicon" src="/public/images/favicon.png" >
		</section >
		<section class="account-password">
			<button id  = "acc">Account</button>
			<button id  = "passw">Password</button>
			<button id = 'signin'> Sign in </button>
		</section>
		<a id = "about_unit_health_m" href="/about-us" > <i class="fa-solid fa-circle-info fa-1x" ></i> About Unit Health</a>
		<a  id = "about_diabetes_m" href="/about-diabetes" ><i class="fa-solid fa-circle-info fa-1x"></i> About Diabetes</a>
	</section>



	<section id ="desktop-login-role">
		<h4 id="goback" onclick=back_to_home_s()><i><i class="fa-solid fa-arrow-right-from-bracket fa-1x"></i></i>Back</h4>
		<section class="sub">	
			<img id="favicon" src="/public/images/favicon.png" >
		</section >
		<h4 id  = "sign_in">Sign in as</h4>

		<section class="role">
			<h3 id  = "role_ss">Staff</h3>
			<section class="account-password">
				<h3 id  = "acc_s">Account</h3>
				<h3 id  = "passw_s">Password</h3>
				<h3 id = 'signin_s'> Sign in </h3>
			</section>
			<a id = "about_unit_health" href="/about-us" > <i class="fa-solid fa-circle-info fa-1x" ></i> About Unit Health</a>
			<a  id = "about_diabetes" href="/about-diabetes" ><i class="fa-solid fa-circle-info fa-1x"></i> About Diabetes</a>
		</section>
	</section>
</body>