<link rel="stylesheet" type="text/css" href= "/css/rank.css">
<script src="https://kit.fontawesome.com/74c293aa5a.js" crossorigin="anonymous"></script>
<div id="main">
    <div id = "twrBg">
        <H1 id="twr">Next Week Ranking</H1>
    </div>
    
    <div class = "aboveRank">
        <h3>Place</h3>
        <h3>Username</h3>
        <h3>Score</h3>
    </div>
    <div class="bgcolor">
        <i class="fa-solid fa-medal fa-2x" style="color:#cdd102;"></i>
        <h2>name1</h2>
        <h2>100</h2>
    </div>

    <div class="bgcolor">
        <i class="fa-solid fa-medal fa-2x" style="color:#c4c4c4;"></i>
        <h2>name2</h2>
        <h2>100</h2>
    </div>

    <div class="bgcolor">
        <i class="fa-solid fa-medal fa-2x" style="color:#c88400;"></i>
        <h2>name3</h2>
        <h2>100</h2>
    </div>

    <div class="bgcolor">
        <h1 style="color:#54c3ca ;">&nbsp; 4</h1>
        <h2>name4</h2>
        <h2>100</h2>
    </div>

    <div class="bgcolor">
        <h1 style="color:#54c3ca ;">&nbsp; 5</h1>
        <h2>name5</h2>
        <h2>100</h2>
    </div>
</div>