/* General Setting*/
:root {
    --primary: #2763A7;
    --secondary: #D6D8DA;
    --link: #0ACCD9;
    --navigate: #FFAD1F;
    --text: white;
    --title-font: "IMPACT";
    --text-font: "Lato", sans-serif;
       --text-unused:#D6D8DA;
   }
   
   body {
    color: var(--text);
    background-color: white;
   }
   
   
   
   
   #navbar{
       background-color: var(--primary);
   }
   
   #favicon{
       height: 2%;
       width:6%;
       z-index: 1;
   
   }
   
   #dashboard_w{
       position:absolute;
       bottom: -10%;
       left: 150%;
       font-size: 300%;
       font-family: var(--title-font);
   
   }
   #dashboard{
       position:absolute;
       top:5.4%;
       left: 9%;
       color: var(--text-unused);
       font-size: 80%;
   }
   
   #comment{
       position:absolute;
       top:5.4%;
       left: 24%;
       color: var(--link);
       font-size: 80%;
       color:var(--text-unused);
   }
   
   #comment_w{
       position:absolute;
       bottom: -17%;
       left: 150%;
       font-size: 370%;
       font-family: var(--title-font);
   }
   
   
   #new_patient{
       position:absolute;
       top:5.5%;
       left: 40%;
       color: var(--link);
       font-size: 80%;
       color:var(--text-unused);
   }
   
   #new_patient_w{
       position:absolute;
       bottom: -90%;
       left: 150%;
       font-size: 280%;
       white-space:nowrap;
       height:200%;
       font-family: var(--title-font);
   }
   
   a{
       color:var(--text-unused);
   }
   
   #about-us{
       position:absolute;
       top:5.5%;
       left: 58%;
       color: var(--link);
       font-size: 80%;
       color:var(--text-unused);
   }
   #about-diabetes{
       position:absolute;
       top:5.5%;
       left: 70%;
       color: var(--link);
       font-size: 80%;
       color:var(--text-unused);
   }
   
   #go_back{
       position:absolute;
       top:4.6%;
       left: 88%;
       font-size: 80%;
       color:var(--text-unused);
   }
   
   #go_back_w{
       position:absolute;
       bottom: -90%;
       left: 100%;
       font-size: 300%;
       white-space:nowrap;
       height:200%;
       font-family: var(--text-unused);
   }