
:root {
    --primary: #2763A7;
    --secondary: #D6D8DA;
    --link: #0ACCD9;
    --navigate: #FFAD1F;
    --text: white;
    --title-font: "IMPACT";
    --text-font: "Lato", sans-serif;
       --text-unused:#D6D8DA;
   }
   
   body {
    color: var(--text);
    background-color: white;
   }
   input{
    white-space:pre-line;
   }
   
   
   .info{
       border-radius: 90px;
    border-style:solid;
       background-color:#B4C3D4;
       width: 30%;
       padding-top: 1%;
       margin-left: 1%;
       float: left;
       color: black;
       padding-bottom: 13%;
       margin-top: 1%;
   
   }
   
   #edit{
       color: #2763A7;
       padding-left: 30%;
       padding-top: 2%;
       text-decoration:underline;
       font-size: 300%;
   }
   
   #photo{
       max-width: 40%;
       border-radius: 50%;
       margin-left: 30%;
   }
   
   #username{
       padding-top: 3%;
       padding-bottom: 3%;
       border-bottom-style:solid;
       border-top-style:solid;
       width:100%;
       background-color: #D6D8DA;
   }
   
   #fullname{
       padding-top: 3%;
       padding-bottom: 3%;
       border-bottom-style:solid;
       border-top-style:solid;
       width:100%;
       background-color: #D6D8DA;
   }
   
   #phone{
       padding-top: 3%;
       padding-bottom: 3%;
       border-bottom-style:solid;
       border-top-style:solid;
       width:100%;
       background-color: #D6D8DA;
   }
   #email{
       padding-top: 3%;
       padding-bottom: 3%;
       border-bottom-style:solid;
       border-top-style:solid;
       width:100%;
       background-color: #D6D8DA;
   }
   
   .data{
       border-radius: 90px;
        border-style:solid;
       width: 50%;
       margin-left: 32%;
   }
   
   #date{
       font-size: 250%;
       margin-left: 2%;
       color: black;
   }
   
   #calender{
       color:#0ACCD9;
       margin-top: -14%;
       margin-bottom: 5%;
       margin-left: 75%;
   
   }
   
   #blood{
       font-size: 100%;
       width:80%;
       border-collapse:collapse;
       text-align: center;
       border-style: none;
       background-color: #F28686;
   }
   
   td,th {
       border: 1px solid black;
   }
   
   
   #weight{
       font-size: 150%;
       width:80%;
       border-collapse:collapse;
       text-align: center;
       border-style: none;
       background-color: #F2A41D;
   }
   
   
   
   #dose{
       font-size: 150%;
       width:80%;
       border-collapse:collapse;
       text-align: center;
       border-style: none;
       background-color: #E98863;
   }
   
   #exercise{
       font-size: 150%;
       width:80%;
       border-collapse:collapse;
       text-align: center;
       border-style: none;
       background-color: #C16B66;
   }
   
   #note{
       padding-left: 5%;
       padding-right: 5%;
       font-size: 400%;
       margin-right: 10%;
       margin-left: 10%;
       border-radius: 30px;
   }
   
   #message{
       padding-left: 5%;
       padding-right: 5%;
       font-size: 400%;
       border-radius: 30px;
   }
   
   #data{
       padding-left: 5%;
       padding-right: 5%;
       font-size: 400%;
       margin-right: 10%;
       margin-left: 10%;
       border-radius: 30px;
   }
   
   #back{
       padding-left: 5%;
       padding-right: 5%;
       font-size: 400%;
       border-radius: 30px;
       margin-left: 5%;
   }
   
   
   .comment_p{
       display: block;
       color: black;
       background-color: white;
   }
   
   .comment_p h3 {
       display: inline-block;
   }
   
   .comment_p p {
       width: 100%;
       height: 40px;
       font-size: 20px;
   }
   
   label {
       color: black
   }

   .note{
       color: black;
       background-color: var(--text-unused);
       border-radius: 90px;
       border-style:solid;
       width: 40%;
       white-space: nowrap;
       margin-left: 87%;
       margin-top: -90%;
       font-size: 200%;
       padding-left: 5%;
       padding-bottom: 13%;
   }

   #note-c{
       margin-top: -100%;
       padding-top: 5%;
       padding-bottom: 50%;
       padding-left: 5%;
       font-size: 80%;
       overflow: auto;
   }

   #supportmessage{
    margin-top: -100%;
    padding-top: 5%;
    padding-bottom: 50%;
    padding-left: 5%;
    font-size: 80%;
    overflow: auto;
   }

   #confirm{
       position:absolute;
       font-size: 80%;
       margin-left: -7%;
       margin-top: 14%;
   }

   #rpBtn{
       position: absolute;
       font-size: 200%;
       margin-left: 80%;
       margin-top: -28%;
   }

   #support-message{
       margin-top: 17%
   }

   #note-input{
    font-size: 150%;
    width:562px;
    height: 100px;
   }

   #add-new-note{
       font-size: 100%;
       position:absolute;
       font-size: 80%;
       margin-left: -5.5%;
       margin-top: 13%;
   }

   #view-history-note{
    font-size: 100%;
    position:absolute;
    font-size: 80%;
    margin-top: 1%;
   }

   