/* General Setting*/
:root {
    --primary: #2763A7;
    --secondary: #D6D8DA;
    --link: #0ACCD9;
    --navigate: #FFAD1F;
    --text: white;
    --title-font: "IMPACT";
    --text-font: "Lato", sans-serif;
       --text-unused:#D6D8DA;
   }
   
   body {
    color: var(--text);
    background-color: white;
   }

   h1{
       margin-bottom: 0%;
   }
   
   br{
       display:inline;
       line-height:0.1%;
   }
   
   input{
       width:300px;
       height:40px;
       font-size: 100%;
       margin-right: 18.5%;
       margin-top: 6%;
       color: black;
   }
   
   #password{
       width:350px;
   }
   #email{
       margin-left: 2.5%;
   }
   
   
   
   #password-confirm{
       white-space: nowrap
   }
   
   #birth{
       width: 250px;
       margin-right: 5%;
       background-color: white;
   }
   select{
       font-size: 80%;
       margin-right: 14%;
   }
   
   #first-name{
       margin-right: 9%;
   }
   
   
   .adding{
       height: 50%;
       background-color:var(--primary);
       font-size: 140%;
       margin-left: 3%;
       margin-right: 3%;
   }
   #header{
       margin-bottom: 0%;
   }
   #submit{
       font-size: 100%;
       margin-left: 90%;
   }
   #biotext{
       margin-left: 50%;
       margin-top:-6%;
   }

   #bio{
       height:200px;
       margin: 0%;
       width:700px;
   }

   #com-pas{
       margin-top: -5%;
   }
