:root {
    --primary: #2763A7;
    --secondary: #D6D8DA;
    --link: #0ACCD9;
    --navigate: #FFAD1F;
    --text: white;
    --title-font: "IMPACT";
    --text-font: "Lato", sans-serif;
       --text-unused:#D6D8DA;
   }
   

#navbar{
    background-color: var(--text);
    height: 80px;
    display: flex;
    justify-content: flex-start;
}

#favicon{
    height: 85px;
}


/* mobile */

@media screen and (min-width: 375px) {
#dashboard_w{
    position:absolute;
    bottom: -10%;
    left: 145%;
    font-size: 300%;
    font-family: var(--title-font);
}
#dashboard{
    position:absolute;
    top:1.5%;
    left: 11%;
    color: var(--text-unused);
    font-size: 105%;
}

#comment{
    position:absolute;
    top:1.5%;
    left: 38%;
    color: var(--link);
    font-size: 105%;
    color:var(--text-unused);
}
#comment_w{
    position:absolute;
    bottom: -10%;
    left: 150%;
    font-size: 300%;
    font-family: var(--title-font);
    white-space: nowrap;
}

#new_patient_w{
    position:absolute;
    bottom: -90%;
    left: 149%;
    font-size: 280%;
    white-space:nowrap;
    height:200%;
    font-family: var(--title-font);
}

a{
    color:var(--text-unused);
}

#about-us{
    display: none;
}
#about-diabetes{
    display: none;
}

#go_back{
    position:absolute;
    top:1.3%;
    left: 72%;
    font-size: 105%;
    color:var(--text-unused);
}
#go_back_w{
    position:absolute;
    bottom: -90%;
    left: 100%;
    font-size: 300%;
    white-space:nowrap;
    height:200%;
    font-family: var(--text-unused);
}
}

/* Tablet */
/*
@media screen and (min-width: 1024px) {
    .about-us{
        display: none;
    }    
    
    .about-diab{
        display: none;
    }
}


/* Desktop */

@media screen and (min-width: 1080px) {
#dashboard_w{
    position:absolute;
    bottom: -10%;
    left: 145%;
    font-size: 300%;
    font-family: var(--title-font);
}
#dashboard{
    position:absolute;
    top:3%;
    left: 6%;
    color: var(--text-unused);
    font-size: 95%;
}

#comment{
    position:absolute;
    top:3%;
    left: 18%;
    color: var(--link);
    font-size: 95%;
    color:var(--text-unused);
}
#comment_w{
    position:absolute;
    bottom: -10%;
    left: 150%;
    font-size: 300%;
    font-family: var(--title-font);
    white-space: nowrap;
}

#new_patient_w{
    position:absolute;
    bottom: -90%;
    left: 149%;
    font-size: 280%;
    white-space:nowrap;
    height:200%;
    font-family: var(--title-font);
}

a{
    color:var(--text-unused);
}

#about-us{
    display: block;
    position:absolute;
    top:3%;
    left: 32.5%;
    color: var(--link);
    font-size: 95%;
    color:var(--text-unused);
}
#about-diabetes{
    display: block;
    position:absolute;
    top:3%;
    left: 46.5%;
    color: var(--link);
    font-size: 95%;
    color:var(--text-unused);
}

#go_back{
    position:absolute;
    top:3%;
    left: 88%;
    font-size: 80%;
    color:var(--text-unused);
}
#go_back_w{
    position:absolute;
    bottom: -90%;
    left: 100%;
    font-size: 300%;
    white-space:nowrap;
    height:200%;
    font-family: var(--text-unused);
}
}