:root {
    --primary: #2763A7;
    --secondary: #D6D8DA;
    --link: #0ACCD9;
    --navigate: #FFAD1F;
    --text: white;
    --title-font: "IMPACT";
    --text-font: "Lato", sans-serif;
       --text-unused:#D6D8DA;
   }
#main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

body{
    background-color: #2D65A4;
}
.topmenu{
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: flex-start;
}

.home{
    color: var(--text-unused);
    font-size: 150%;
    margin-top: 1%;
    padding-left: 0.5%;
}
#home-w{
    font-size: 220%;
    margin-top: -45%;
    padding-left: 60%;
    text-decoration: none;
}
.p1{
    height: 85px;
}
a{
    color: white;
}

@media screen and (max-width: 1023px) {
    .about-us{
        display: none;
    }    
    
    .about-diab{
        display: none;
    }
    .userinfo{
        color: var(--text-unused);
        font-size: 150%;
        margin-top: 0.3%;
        padding-left: 35%;
    }
    #user-w{
        font-size: 220%;
        margin-top: -39%;
        padding-left: 55%;
        white-space: nowrap;
    
    }
    .sign-out{
        color: var(--text-unused);
        font-size: 150%;
        margin-top: 0.3%;
        padding-left: 80%;
    }
    .sign-out-w{
        font-size: 220%;
        margin-top: -135%;
        padding-left: 105%;
        white-space: nowrap;
    }

.info{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 330px;
    height: 40px;
    line-height: 20px;
    color: white;

}

#rpBtn{
    width:120px;
    height: 40px;
    border: none;
    border-radius: 8px;
    border: 5px solid #18D9D9;
    background-color: white;
    color: #18D9D9;
}

#rpBtn:hover {
    background-color: #18D9D9; /* Green */
    color: white;
}

#outBtn{
    width:120px;
    height: 40px;
    border: none;
    border-radius: 8px;
    border: 5px solid #F26780;
    background-color: white;
    color: #F26780;
}

#outBtn:hover {
    background-color: #F26780; /* Green */
    color: white;
}

}

@media screen and (min-width: 1024px) {
    .about-us{
        display: block;
        color: var(--text-unused);
        font-size: 150%;
        margin-top: 0.3%;
        padding-left: 80%;
    
    }
    #us-w{
        font-size: 220%;
        margin-top: -145%;
        padding-left: 165%;
        white-space: nowrap;
    }
    
    .about-diab{
        display: block;
        color: var(--text-unused);
        font-size: 150%;
        margin-top: 0.3%;
        padding-left: 75%;
    }
    #diab-w{
        font-size: 220%;
        margin-top: -70%;
        padding-left: 80%;
        white-space: nowrap;
    }

    .userinfo{
        color: var(--text-unused);
        font-size: 150%;
        margin-top: 1%;
        padding-left: 40%;
    }
    #user-w{
        font-size: 220%;
        margin-top: -50%;
        padding-left: 55%;
        white-space: nowrap;
    
    }

    .sign-out{
        color: var(--text-unused);
        font-size: 150%;
        margin-top: -0.3%;
        padding-left: 220%;
    }
    .sign-out-w{
        font-size: 220%;
        white-space: nowrap;
        padding-left: 50%;
        margin-top: -50%;
    }

    .info{
        display: flex;
        justify-content: space-between;
        margin: 10px;
        width: 500px;
        height: 40px;
        line-height: 20px;
        color: white;
    
    }
    
    #rpBtn{
        width:120px;
        height: 40px;
        border: none;
        border-radius: 8px;
        border: 5px solid #18D9D9;
        background-color: white;
        color: #18D9D9;
    }
    
    #rpBtn:hover {
        background-color: #18D9D9; /* Green */
        color: white;
    }
    
    #outBtn{
        width:120px;
        height: 40px;
        border: none;
        border-radius: 8px;
        border: 5px solid #F26780;
        background-color: white;
        color: #F26780;
    }
    
    #outBtn:hover {
        background-color: #F26780; /* Green */
        color: white;
    }


}



/* 弹窗 (background) */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
 
/* 弹窗内容 */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
 
/* 添加动画 */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
 
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
 
/* 关闭按钮 */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
 
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
 
.modal-header {
    padding: 2px 16px;
    background-color: #2D65A4;
    color: white;
}
 
.modal-body {padding: 2px 16px;}
 
#commentCon{
    width:100px;
    height: 40px;
    background-color: white;
    color: #18D9D9;
    border: none;
    border-radius: 8px;
    border: 5px solid #18D9D9;
}

#commentCon:hover {
    background-color: #18D9D9; /* Green */
    color: white;
}


#commentDis{
    width:100px;
    height: 40px;
    background-color: white;
    color: #F26780;
    border: none;
    border-radius: 8px;
    border: 5px solid #F26780;
}

#commentDis:hover {
    background-color: #F26780; /* Green */
    color: white;
}


.commentBtn{
    display: flex;                       
    justify-content: space-around;            
    align-items: center; 
    margin: 20px;
}

.newPassword{
    color: #2763A7;
    margin: 20px;
}


