:root {
    --primary: #2763A7;
    --secondary: #D6D8DA;
    --link: #0ACCD9;
    --navigate: #FFAD1F;
    --text: white;
    --title-font: "IMPACT";
    --text-font: "Lato", sans-serif;
       --text-unused:#D6D8DA;
   }
   
   li{
       list-style-type: square;
   }
   
   .topmenu{
       background-color: white;
       height: 50px;
       display: flex;
       justify-content: flex-start;
   }
   .home{
       font-size: 190%;
       margin-top: 0.3%;
       color: var(--text-unused);
       text-decoration:none;
   }
   .p1{
       height: 50px;
   }
   .userinfo{
       color: #D6D8DA;
   }
   
   .signout{
       font-size: 200%;
       display: block;
       color: #D6D8DA;
       top: 5px;
       right: 20px;
       position: fixed;
   }
   body{
       background-color: #2D65A4;
   }
   
      /* mobile */
@media screen and (min-width: 375px) {
    .desktop-dashboard{
        display: none;
    }
    .table-dashboard{
        display: none;
    }
    .mobile-dashboard{
        display: block;
    }
    .table-message{
        border-color: #FF8D8D;
        border-radius: 30px;
        border-style: solid;
        width:60%;
        color:#FF8D8D;
        margin-top: 10%;
        margin-left: 20%;
        padding-bottom: 30%;
        background-color: white;
        font-size: 200%;
    }
    .table-stat{
        border-color:#E8D810;
        color:white;
        background-color:#E8D810;
        border-radius: 30px;
        border-style: solid;
        width:35%;
        padding-left: 2%;
        white-space: nowrap;
        height:16%;
        font-size: 200%;
        padding-bottom: 10%;
        margin-top: 5%;
        margin-left: 4%;
        
    }
    .table-rank{
        border-color:#FFAD1F;
        color:white;
        background-color:#FFAD1F;
        border-radius: 30px;
        border-style: solid;
        width:35%;
        white-space: nowrap;
        height:16%;
        font-size: 200%;
        padding-bottom: 10%;
        margin-top: -29%;
        margin-left: 50%;
    }
    .table-record-m{
        border-color:#F58F68;
        color:white;
        background-color:#F58F68;
        border-radius: 30px;
        border-style: solid;
        width:30%;
        margin-left: 30%;
        padding-left: 20%;
        margin-top: 5%;

    }

    .table-right-m{
        display: block;
        border-style: solid;
        border-color: white;
        background-color: white;
        width:80%;
        margin-left: 8%;
        margin-top: 1%;
        padding-top: 3%;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 2%;
        font-size: 200%;
        background-color: white;
    }

    table,td,th{
        border: 1px solid black;
    }
    
    table{
        box-sizing: border-box;
        border-collapse: collapse;
    }
}
    

   /* Tablet */
   @media screen and (min-width: 1024px) {
       .desktop-dashboard{
           display: none;
       }
       .table-dashboard{
           display: block;
       }
       .mobile-dashboard{
           display: none;
       }
   
       .table-message{
           border-color: #FF8D8D;
           border-radius: 30px;
           border-style: solid;
           width:35%;
           color:#FF8D8D;
           margin-top: 2%;
           margin-left: 30%;
           padding-bottom: 10%;
           background-color: white;
       }
       #messName_s{
        color:#FF8D8D;
        margin-top:0%;
        margin-left: 30%;
        padding-bottom: 5%;
    }
   
       .table-stat{
           border-color:#E8D810;
           color:white;
           background-color:#E8D810;
           border-radius: 30px;
           border-style: solid;
           width:25%;
           padding-left: 3%;
           padding-bottom: 5%;
           margin-left: 1%;
           white-space: nowrap;
           height:16%;
           font-size: 150%;
           
       }
       .table-rank{
           margin-top:3%;;
           border-color:#FFAD1F;
           color:white;
           background-color:#FFAD1F;
           border-radius: 30px;
           border-style: solid;
           width:25%;
           margin-left: 5%;
           padding-left: 3%;
           padding-bottom: 5%;
           margin-left: 1%;
           white-space: nowrap;
           height:16%;
           font-size: 150%;
       }
       .table-record{
           border-color:#F58F68;
           color:white;
           background-color:#F58F68;
           border-radius: 30px;
           border-style: solid;
           width:30%;
           padding-left: 3%;
           white-space: nowrap;
           height:16%;
           font-size: 100%;
           margin-top: -40%;
           margin-left: 48%;
       }
   
       .table-right{
           display: block;
           border-style: solid;
           border-color: white;
           background-color: white;
           width:50%;
           margin-left: 37%;
           margin-top: 1%;
           padding-top: 3%;
           padding-bottom: 25%;
           padding-left: 3%;
           padding-right: 2%;
       }
   
       table,td,th{
           border: 1px solid black;
       }
       
       table{
           box-sizing: border-box;
           border-collapse: collapse;
       }
   
   }
   
   
   @media screen and (min-width: 1080px) {
   
       .desktop-dashboard{
           display: block;
       }
   
       .table-dashboard{
           display: none;
       }
   
       .mobile-dashboard{
           display: none;
       }
   
       body{
           background-color: #2D65A4;
       }
   
       .message{
           border-style: solid;
           border-color: #FF8D8D;
           border-radius: 30px;
           background-color: white;
           position: absolute;
           width: 519px;
           height: 300px;
           left: 37px;
           top: 200px;
       }
       
       #message{
           color:#2D65A4;
           font-family:Lato;
           font-size: 40px;
           position: relative;
           top: 15px;left:10px
       }
   
       .desk-messHead{
           display: block;
           border-style: solid;
           border-color: #FF8D8D;
           border-radius: 30px;
           background-color: #FF8D8D;
           position: absolute;
           width: 270px;
           height: 70px;
           left: 170px;
           top: 170px;
       }
       #messName{
           color:#FFFFFF;
           position:absolute;
           top:-20px;
           left: 90px;
           font-size:40px;
       }
   
       .desktop-statistic{
           display: block;
           border-style: solid;
           border-color: #FFAD1F;
           border-radius: 20px;
           background-color: #FFAD1F;
       
           position: absolute;
           width: 232px;
           height: 248px;
           left: 37px;
           top: 595px;
       }
       
       #stat{
           display: block;
           position: relative;
           width: 192px;
           height: 61px;
           left: 25px;
           top: 140px;
       
           font-family: 'Lato';
           font-style: normal;
           font-weight: 700;
           font-size: 50px;
           line-height: 36px;
       
           color:#FFFFFF;
       }
   
       .desk-rank{
           display: block;
           border-style: solid;
           border-color: #E8D810;
           border-radius: 20px;
           background-color: #E8D810;
       
           position: absolute;
           width: 232px;
           height: 248px;
           left: 325px;
           top: 595px;
       }
   
       
       #ran{
           position: relative;
           width: 192px;
           height: 61px;
           left: 50px;
           top: 140px;
       
           font-family: 'Lato';
           font-style: normal;
           font-weight: 700;
           font-size: 50px;
           line-height: 36px;
       
           color:#FFFFFF;
       }
   
       .right{
           display: block;
           border-style: solid;
           border-color: white;
           background-color: white;
           border-radius: 15px;
           position: absolute;
           width: 1280px;
           height: 830px;
           left: 595px;
           top: 150px;
       }
   
       #p4{
           height: 50px;
           top: 8px;
           right: 100px;
           position:fixed;
       }
       
       
   
       .desk-record{
           display: block;
           border-style: solid;
           border-color: #F58F68;
           border-radius: 30px;
           background-color: #F58F68;
       
           position: absolute;
           width: 391px;
           height: 103px;
           left: 1035px;
           top: 176px;
       }
   
       #reco{
           margin-top: 13%;
           color: #FFFFFF;font-size: 50px;
           position: absolute;
           left: 130px;
           top: -20px;
           text-decoration:none;
   
       }
   
       table,td,th{
           border: 1px solid black;
       }
       
       table{
           box-sizing: border-box;
           border-collapse: collapse;
           position: absolute;
           width: 1124px;
           height: 576px;
           left: 70px;
           top: 150px;
       }
       
       th{
           text-align: center;
           background-color: #D6D8DA;
           font-size: 40px;
           padding: 10px;
           height: 65px;
       }
       
       td{
           height: 35px;
           font-size: 30px;
           text-align: center;
       }
   }