:root {
    --primary: #2763A7;
    --secondary: #D6D8DA;
    --link: #0ACCD9;
    --navigate: #FFAD1F;
    --text: white;
    --title-font: "IMPACT";
    --text-font: "Lato", sans-serif;
       --text-unused:#D6D8DA;
}

#main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

body{
    background-color: #2763A7;
}
.topmenu{
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: flex-start;
}

.home{
    color: var(--text-unused);
    font-size: 150%;
    margin-top: 1%;
    padding-left: 0.5%;
}
#home-w{
    font-size: 220%;
    margin-top: -45%;
    padding-left: 60%;
    text-decoration: none;
}
.p1{
    height: 85px;
}
a{
    color: white;
}


@media screen and (max-width: 1023px) {

    .about-us{
        display: none;
    }    
    
    .about-diab{
        display: none;
    }
    .userinfo{
        color: var(--text-unused);
        font-size: 150%;
        margin-top: 0.3%;
        padding-left: 35%;
    }
    #user-w{
        font-size: 220%;
        margin-top: -39%;
        padding-left: 55%;
        white-space: nowrap;
    
    }
    .sign-out{
        color: var(--text-unused);
        font-size: 150%;
        margin-top: 0.3%;
        padding-left: 80%;
    }
    .sign-out-w{
        font-size: 220%;
        margin-top: -135%;
        padding-left: 105%;
        white-space: nowrap;
    }

.bgcolor{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin: 20px;
    width: 355px;
    height: 40px;
    line-height: 20px;
    border-style: solid;
    border-radius: 20px;
    border-color: #2D65A4;
    background-color: white;
}

.aboveRank{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin: 20px;
    width: 355px;
    height: 40px;
    line-height: 20px;
    color: white;
}

#twrBg{
    display: flex;
    justify-content: center;
    color: #e8d810;

}

}


@media screen and (min-width: 1024px) {

    .about-us{
        display: block;
        color: var(--text-unused);
        font-size: 150%;
        margin-top: 0.3%;
        padding-left: 80%;
    
    }
    #us-w{
        font-size: 220%;
        margin-top: -145%;
        padding-left: 165%;
        white-space: nowrap;
    }
    
    .about-diab{
        display: block;
        color: var(--text-unused);
        font-size: 150%;
        margin-top: 0.3%;
        padding-left: 75%;
    }
    #diab-w{
        font-size: 220%;
        margin-top: -70%;
        padding-left: 80%;
        white-space: nowrap;
    }

    .userinfo{
        color: var(--text-unused);
        font-size: 150%;
        margin-top: 1%;
        padding-left: 40%;
    }
    #user-w{
        font-size: 220%;
        margin-top: -50%;
        padding-left: 55%;
        white-space: nowrap;
    
    }

    .sign-out{
        color: var(--text-unused);
        font-size: 150%;
        margin-top: -0.3%;
        padding-left: 220%;
    }
    .sign-out-w{
        font-size: 220%;
        white-space: nowrap;
        padding-left: 50%;
        margin-top: -50%;
    }

    .bgcolor{
        display: flex;
        justify-content: space-around;
        align-items: center; 
        margin: 20px;
        width: 600px;
        height: 40px;
        line-height: 20px;
        border-style: solid;
        border-radius: 20px;
        border-color: #2D65A4;
        background-color: white;
    }
    
    .aboveRank{
        display: flex;
        justify-content: space-around;
        align-items: center; 
        margin: 20px;
        width: 600px;
        height: 40px;
        line-height: 20px;
        color: white;
    }
    
    #twrBg{
        display: flex;
        justify-content: center;
        color: #e8d810;
    }

}