:root {
    --primary: #2763A7;
    --secondary: #D6D8DA;
    --link: #0ACCD9;
    --navigate: #FFAD1F;
    --text: white;
    --title-font: "IMPACT";
    --text-font: "Lato", sans-serif;
       --text-unused:#D6D8DA;
}

#main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

body{
    background-color: #2763A7;
}
.p1{
    height: 85px;
}


@media screen and (max-width: 1023px) {
.bgcolor{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin: 50px;
    width: 700px;
    height: 100px;
    line-height: 20px;
    border-style: solid;
    border-radius: 20px;
    border-color: #2D65A4;
    background-color: white;
    font-size: 200%;
}

.aboveRank{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin: 50px;
    width: 700px;
    height: 100px;
    font-size: 200%;
    line-height: 20px;
    color: white;
}

#twrBg{
    display: flex;
    justify-content: center;
    color: #e8d810;
    margin: 50px;
    width: 700px;
    height: 100px;
    font-size: 200%;

}

}


@media screen and (min-width: 1024px) {
    .bgcolor{
        display: flex;
        justify-content: space-around;
        align-items: center; 
        margin: 20px;
        width: 600px;
        height: 40px;
        line-height: 20px;
        border-style: solid;
        border-radius: 20px;
        border-color: #2D65A4;
        background-color: white;
    }
    
    .aboveRank{
        display: flex;
        justify-content: space-around;
        align-items: center; 
        margin: 20px;
        width: 600px;
        height: 40px;
        line-height: 20px;
        color: white;
    }
    
    #twrBg{
        display: flex;
        justify-content: center;
        color: #e8d810;
    }

}